* {
  box-sizing: border-box;
}
html,
body {
  background-color: $color-bg;
}

body {
  color: $color-text;
  font-family: $font-body;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: normal;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  word-wrap: break-word;
}

h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

h4,
.h4 {
  @include h4;
}

p {
  line-height: 1.6;
  margin-top: 0.5rem;
}

a {
  color: $color-link;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.page {
  @media (min-width: 1024px) {
    display: flex;
    height: 100vh;
  }
  .header {
    @media (max-width: 1023px) {
      padding-left: 1rem;
      padding-right: 1rem;
      position: sticky;
      top: 0;
      z-index: 11;
      background-color: #fff;
      border-bottom: 1px solid rgba(#333, 0.1);
      margin-bottom: 1rem;
    }
    @media (min-width: 1024px) {
      width: $header-width;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .site-title {
      margin: 0 auto;
      font-size: 3rem;
      @media (min-width: 1024px) {
        transform: rotate(270deg) translateX(50%);
        white-space: nowrap;
        margin: auto 0 0 0;
      }
      a {
        text-decoration: none;
        color: $color-text;
      }
    }
  }
  .page-content {
    @media (min-width: 1024px) {
      flex-grow: 1;
      max-width: 100%;
      max-width: calc(100vw - 80px);
      display: flex;
    }
    .image-container,
    .main-container {
      @media (max-width: 1023px) {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-bottom: 1rem;
      }
      @media (min-width: 1024px) {
        height: 100%;
        min-width: 50%;
        max-width: 50%;
        flex: 1;
      }
    }
    .image-container {
      > div {
        img {
          width: 100%;
          max-width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        @media (min-width: 1024px) {
          height: 100%;
          &.image-wrapper {
            width: 100%;
            display: flex;
          }
        }
      }
    }
    .main-container {
      @media (min-width: 1024px) {
        padding-left: 2rem;
        padding-right: 2rem;
        overflow: auto;
      }
      .post-wrapper {
        margin-bottom: 1rem;
      }
    }
  }
}

.post-card {
  position: relative;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgba(#333, 0.1);
  border-left: 4px solid $color-accent;
  transition: box-shadow 0.25s;
  &:hover {
    box-shadow: 0 16px 0px -10px rgba($color-accent, 0.8);
  }
  .post-link {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .post-desc {
    margin-bottom: 0;
  }
}

.social-share-widget {
  display: flex;
  align-items: center;
  span {
    font-style: italic;
    display: inline-block;
    margin-right: 0.5rem;
  }
  .social-share-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
      a {
        display: inline-flex;
        justify-content: center;
        border: 2px solid #000;
        opacity: 0.8;
        border-radius: 50%;
        padding: 5px;
        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
