* {
  box-sizing: border-box;
}
html,
body {
  background-color: $color-bg;
}

body {
  color: $color-text;
  font-family: $font-body;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: normal;
  font-kerning: normal;
  font-feature-settings: "kern", "liga", "clig", "calt";
  word-wrap: break-word;
}

h1,
.h1 {
  @include h1;
}

h2,
.h2 {
  @include h2;
}

h3,
.h3 {
  @include h3;
}

a {
  color: $color-link;
}

p {
  line-height: 1.6;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: 0 1rem;
  &.mobile-feed {
    @media (max-width: 767px) {
      padding: 0;
    }
  }
}

.title-shadow {
  text-shadow: 5px 5px rgba($color-accent, 0.5);
}

.site-title {
  a {
    color: $color-text;
    text-decoration: none;
  }
  &:not(.decorated) {
    @extend .title-shadow;
  }
}

.post-nav {
  @media (max-width: 767px) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 -1px 10px rgba(#000, 0.15);
  }
  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    right: 100%;
  }
  .post-nav-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    li {
      display: block;
      flex: 1;
      text-align: center;
      width: 25%;
      > a,
      > span {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1rem;
      }
      &.disabled {
        // background-color: rgba(#000, 0.07);
        opacity: 0.25;
        cursor: not-allowed;
      }
    }
    @media (min-width: 768px) {
      flex-direction: column;
      margin-right: 1rem;
      li {
        width: 100%;
      }
    }
  }
  .nav-icon {
    width: 20px;
  }
}

.post-card {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 0.25rem;
  border: 1px solid rgba(#000, 0.15);
  @media (max-width: 600px) {
    border-left: 0;
    border-right: 0;
  }
  .post-link {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 900;
    a {
      text-decoration: none;
    }
  }
}

.post-wrapper {
  margin-bottom: 5rem;
  .post-content {
    p {
      font-size: 1.2rem;
      &:first-child {
        &::first-letter {
          font-size: 300%;
          margin-right: 0.5rem;
          float: left;
          line-height: 1;
        }
      }
    }
  }
  .post-title {
    @extend .title-shadow;
    @media (max-width: 360px) {
      font-size: 2.5rem;
    }
  }
}
