$color-bg: #fbfbfb;
$color-text: #333;
$color-link: #04a07f;
$color-accent: #04a07f;

$font-body: "Merriweather", "Georgia", serif;
$font-heading: "Montserrat", sans-serif;

$font-size: 16px;
$line-height: $font-size * 1.6;

$header-width: 80px;

@mixin h1 {
  font-family: $font-heading;
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 900;
  @media (max-width: 767px) {
    font-size: 2.8rem;
  }
}

@mixin h2 {
  font-family: $font-heading;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
}

@mixin h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

@mixin h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.header {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  max-width: 600px;
  @media (min-width: 992px) {
    max-width: 720px;
  }
  &.mobile-feed {
    @media (max-width: 599px) {
      padding: 0;
    }
  }
}

.hide-mobile {
  @media (max-width: 767px) {
    display: none;
  }
}
.show-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.abs-link {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
