$color-bg: #fbfbfb;
$color-text: #333;
$color-link: #04a07f;
$color-accent: #04a07f;

$font-body: "Merriweather", "Georgia", serif;
$font-heading: "Montserrat", sans-serif;

$font-size: 16px;
$line-height: $font-size * 1.6;

@mixin h1 {
  font-family: $font-heading;
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 900;
}

@mixin h2 {
  font-family: $font-heading;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 900;
}

@mixin h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.header {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  max-width: 600px;
  @media (min-width: 992px) {
    max-width: 720px;
  }
  &.mobile-feed {
    @media (max-width: 599px) {
      padding: 0;
    }
  }
}

.show-mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.text-center {
  text-align: center;
}

.image-wrapper {
  width: 980px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.25) 0px 20px 40px 0px;
}

.image-wrapper-container {
  background-color: $color-accent;
  @media (min-width: 600px) {
    padding: 3rem;
  }
  @media (min-width: 768px) {
    padding: 5rem;
  }
}
